<h1>About Us</h1>

<p>Our team has over a decade of development experience in a number of industries.
In the last years, we follow the ML development and help others to implement what they need.</p>

<h4>But what is Machine Learning?</h4>

<p>Machine learning is the idea that there are general algorithms that can tell you something interesting about a set of data without having to write any specific custom code for the problem. Instead of writing the code, the data is fed to a generic algorithm and its logic is constructed based on data.</p>



