<div class="app-card-container">
    <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">

        <%= image_tag "ML - Profile.jpg", width: 300, alt: "profile image", class: "profile-image" %>
      </div>

      <div class="col-md-8">
        <p>Our team has over a decade of development experience in a number of industries.
        In the last years, we follow the ML development and help others to implement what they need.</p>

        <h3>But what is Machine Learning?</h3>

        <p>Machine learning is the idea that there are general algorithms that can tell you something interesting about a set of data without having to write any specific custom code for the problem. Instead of writing the code, the data is fed to a generic algorithm and its logic is constructed based on data.</p>
      </div>

    </div>


  </div>
  
</div>






