<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6"
    <h3>Office Address</h3>

    <p>Prague</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "555-555-555" %></p>


    <h3>Email</h3>

    <p><a href="mailto:spiriqual@gmail.com?subject=PortfolioContact" "email me">email me</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2559.5683418206186!2d14.444275315718565!3d50.09436817942779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b94bb692d76db%3A0xce33f5ef94f867a2!2sAmazon+Court%2C+Rohansk%C3%A9+n%C3%A1b%C5%99.+661%2F5%2C+186+00+Praha+8-Rohansk%C3%BD+ostrov!5e0!3m2!1scs!2scz!4v1552408785970" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
